:root {
  --bg: #9e7b7b;
  --text: #222;
  --primary: #6c63ff;
  --card: #f4f4f4;
}

body.dark {
  --bg: #121212;
  --text: #f5f5f5;
  --card: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

nav h1 {
  color: var(--primary);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

nav a:hover {
  color: var(--primary);
}

.toggle {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 20px;
  background: var(--card);
}

section {
  padding: 100px 15%;
  min-height: 100vh;
}


#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content {
  max-width: 600px;
}

.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #3b82f6;
}

#home h2 {
  font-size: 3rem;
  color: var(--primary);
}

#home p {
  margin: 15px 0;
  max-width: 600px;
}

.quote {
  font-style: italic;
}


.card {
  background: var(--card);
  padding: 30px;
  border-radius: 15px;
  margin-top: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project {
  background: var(--card);
  padding: 20px;
  border-radius: 15px;
}

.project h4 {
  color: var(--primary);
}


form {
  max-width: 500px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: var(--primary);
  color: rgb(114, 90, 90);
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}


footer {
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  section {
    padding: 100px 8%;
  }
}
